<div>
  <div>
    <div>
      <button nz-button [nzType]="'primary'" (click)="showModal()"><span>发布公告</span></button>
      <nz-modal [(nzVisible)]="isVisible" nzTitle="发布公告" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <div>
          <span>标题：</span><br>
          <input nz-input placeholder="Basic usage" [(ngModel)]="notice.title">
        <span>内容：</span><br>
          <textarea rows="4" nz-input [(ngModel)]="notice.value"></textarea>
        </div>
        <br>
      </nz-modal>
    </div>
  </div>
  <br>
  <div>
    已发布公告：
    <nz-list [nzDataSource]="noticeList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
      <ng-template #item let-item>
        <nz-list-item>
          <nz-list-item-meta
            [nzTitle]="item.title"
            [nzDescription]="item.content">
          </nz-list-item-meta>
          <span >
              <button style="margin-right: 1rem" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="delete(item)">删除</button>
            </span>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>

</div>
