<!-- <div class="card text-center">
    <div class="card-header">
      模拟主页面
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      {{currentData | date: "yyyy-MM-dd HH:mm:ss"}}
    </div>
  </div> -->
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" >
      <div class="logo">
        <nz-avatar [nzIcon]="'user'" style="background-color:#0e7cd0;">adasda</nz-avatar>
        <div style="display: inline-block" *ngIf="!isCollapsed">
          <span style="color: white;font-size: .6rem">{{user.name+':'}}</span><span style="color: white;font-size: .6rem">{{user.position ? user.position : ''}}</span>
          <span style="color: white;font-size: .6rem" *ngIf="user.role === 3">班主任</span>
          <span style="color: white;font-size: .6rem" *ngIf="user.role === 2">老师</span>
          <span style="color: white;font-size: .6rem" *ngIf="user.role === 4">管理员</span>
          <span style="color: white;font-size: .6rem" *ngIf="user.role === 1">学生</span>
        </div>

      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu>
          <span title><i class="anticon anticon-user"></i><span class="nav-text">User</span></span>
          <ul>
            <li nz-menu-item>
              <a [routerLink]="['/home/user/userHome']">用户主页</a>
            </li>
          </ul>
        </li>
        <li *ngIf="user.role !== 4" nz-menu-item nz-tooltip nzPlacement="right" ><span><i nz-icon type="block" theme="outline"></i>
          <a [routerLink]="['/home/work']">任务</a>
        </span></li>
        <li *ngIf="user.role !== 1" nz-menu-item nz-tooltip nzPlacement="right" ><span><i nz-icon type="audit" theme="outline"></i>
          <a [routerLink]="['/home/type']">职位</a>
        </span></li>
        <li  nz-menu-item nz-tooltip nzPlacement="right" ><span><i nz-icon type="calculator" theme="outline"></i>
          <a [routerLink]="['/home/gride']">分数</a>
        </span></li>
        <li *ngIf="user.role !== 1 && user.role !== 4" nz-menu-item nz-tooltip nzPlacement="right" ><span><i nz-icon type="gateway" theme="outline"></i>
        <a [routerLink]="['/home/steps']">流程</a>
        </span></li>
        <li *ngIf="user.role === 4" nz-menu-item nz-tooltip nzPlacement="right" ><span><i nz-icon type="notification" theme="outline"></i>
        <a [routerLink]="['/home/notice']">公告</a>
        </span></li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #fff; padding:0;">
        <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
        <button nz-button nzType="‘default’" style="float: right; margin-top: 1%;margin-right: 3%" (click)="logOut()">退出登录</button>
        <button nz-button nzType="‘default’" style="float: right; margin-top: 1%;margin-right: 3%" (click)="forumIs = !forumIs">论坛</button>
      </nz-header>
      <nz-content style="margin:0 16px;">
        <nz-breadcrumb style="margin:16px 0;">
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div style="padding:24px; background: #fff; min-height: 360px;">
          <router-outlet></router-outlet>

        </div>
      </nz-content>

    </nz-layout>

    <nz-sider *ngIf="forumIs" nzCollapsible style="background-color: white" [nzWidth]="500" [(nzCollapsed)]="!forumIs"  >
      <div style="margin-top: 1rem;margin-left: 1rem"><span>守夜人讨论区...</span><button nz-button type="'default'" style="margin-right: 1rem;float: right" (click)="showModal()">发帖</button></div>
      <nz-list
        [nzDataSource]="data"
        [nzItemLayout]="'vertical'"
        [nzRenderItem]="item"
        [nzPagination]="pagination">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="item.content" [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra" >
            <ng-template #starAction><i nz-icon type="star-o" style="margin-right: 8px;"></i> 156</ng-template>
            <ng-template #likeAction><i nz-icon type="like-o" style="margin-right: 8px;"></i> 156</ng-template>
            <ng-template #msgAction><i nz-icon type="message" style="margin-right: 8px;"></i> 2</ng-template>
            <ng-template #msgAction><i nz-icon type="message" style="margin-right: 8px;" *ngIf=" user.role === 4"></i>
              <button nz-button style="margin-top: .5rem" nzType="‘default’" [nzSize]="'small'" (click)="deleteInvi(item)">删除帖子</button>
            </ng-template>
            <nz-list-item-meta
              [nzAvatar]="item.avatar"
              [nzTitle]="nzTitle"
              [nzDescription]="item.creater.name">
              <ng-template #nzTitle><a  (click)="openModal(item)" >{{item.title}}</a></ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
        <ng-template #pagination >
          <nz-pagination [nzPageSize]="4" [nzTotal]="inviList.length" (nzPageIndexChange)="loadData($event)"></nz-pagination>
        </ng-template>
      </nz-list>
    </nz-sider>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="守夜人" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <div>
        <span>标题：</span><br>
        <input nz-input placeholder="Basic usage" [(ngModel)]="title"><br><br>
       <span>内容：</span><br>
        <textarea rows="4" nz-input [(ngModel)]="content"></textarea>
      </div>
      <br>
    </nz-modal>
    <nz-modal [nzWidth]="1000" [(nzVisible)]="detailIs" nzTitle="守夜人" (nzOnCancel)="handleCancel2()" (nzOnOk)="handleOk2()">
      <div>
        <nz-list
          [nzDataSource]="inviDetail"
          [nzItemLayout]="'vertical'"
          [nzRenderItem]="item"
          [nzPagination]="pagination">
          <ng-template #item let-item>
            <nz-list-item [nzContent]="item.content" [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra" >
              <nz-list-item-meta
                [nzAvatar]="item.avatar"
                [nzTitle]="nzTitle"
                [nzDescription]="item.creater.name">
                <ng-template #nzTitle><a  (click)="showModal2(item)" >{{item.title}}</a></ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
          <div style="margin: .5rem " *ngFor="let item of commentList">
             <span style="color: #1890ff">{{item.creater.name+'  回复：'}}</span><p >{{item.content}}</p>
            <button *ngIf="user.role === 4 || user.id === inviDetail[0].creater.id" nz-button style="margin-left: .5rem" nzType="‘default’" [nzSize]="'small'" (click)="deleteComment(item)">删除评论</button>
          </div>
          <div>
            <textarea rows="4" nz-input [(ngModel)]="comment"></textarea>
            <button nz-button style="margin-top: .5rem" nzType="‘default’" [nzSize]="'small'" (click)="addComment()">发送评论</button>
          </div>
        </nz-list>
      </div>
      <br>
    </nz-modal>
  </nz-layout>
  <ng-template #trigger>
    <i class="anticon anticon-up"></i>
  </ng-template>


