:host ::ng-deep .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }

  :host ::ng-deep .trigger:hover {
    color: #1890ff;
  }

  :host ::ng-deep .logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
  }

.count {
  padding-left: 8px;
  cursor: auto;
}

a {
  color: white;
}

::ng-deep .ant-list-vertical .ant-list-item  {
  padding: 1rem;
}
::ng-deep .ant-list-item-meta-description {
  cursor: pointer;
}

/* .ant-layout{
    height: 100%;
}

nz-header {
    height: 8%;
}

nz-footer {
    height: 8%;
}

nz-content {
    height: 84%;
    overflow-y: auto;
} */
